
/export
/ACore/Win32-Debug
/ACore/Win32-Debug-DLL
/ACore/Win32-Release
/ACore/Win32-Release-DLL
/ACore/x64-Debug
/ACore/x64-Debug-DLL
/ACore/x64-Release
/ACore/x64-Release-DLL
/AIL/Win32-Debug
/AIL/Win32-Debug-DLL
/AIL/Win32-Release
/AIL/Win32-Release-DLL
/AIL/x64-Debug
/AIL/x64-Debug-DLL
/AIL/x64-Release
/AIL/x64-Release-DLL
/AIL_Qt/Win32-Debug
/AIL_Qt/Win32-Debug-DLL
/AIL_Qt/Win32-Release
/AIL_Qt/Win32-Release-DLL
/AIL_Qt/x64-Debug
/AIL_Qt/x64-Debug-DLL
/AIL_Qt/x64-Release
/AIL_Qt/x64-Release-DLL
/AIO_json/Win32-Debug
/AIO_json/Win32-Debug-DLL
/AIO_json/Win32-Release
/AIO_json/Win32-Release-DLL
/AIO_json/x64-Debug
/AIO_json/x64-Debug-DLL
/AIO_json/x64-Release
/AIO_json/x64-Release-DLL
/ANET_curl/Win32-Debug
/ANET_curl/Win32-Debug-DLL
/ANET_curl/Win32-Release
/ANET_curl/Win32-Release-DLL
/ANET_curl/x64-Debug
/ANET_curl/x64-Debug-DLL
/ANET_curl/x64-Release
/ANET_curl/x64-Release-DLL
/FSWP/GeneratedFiles
/FSWP/Win32-Debug
/FSWP/Win32-Debug-DLL
/FSWP/Win32-Release
/FSWP/Win32-Release-DLL
/FSWP/x64-Debug
/FSWP/x64-Debug-DLL
/FSWP/x64-Release
/FSWP/x64-Release-DLL
/ProjectTemplate/Release
/QPaint/GeneratedFiles
/QPaint/Win32-Debug
/QPaint/Win32-Debug-DLL
/QPaint/Win32-Release
/QPaint/Win32-Release-DLL
/QPaint/x64-Debug
/QPaint/x64-Debug-DLL
/QPaint/x64-Release
/QPaint/x64-Release-DLL
*.sdf
*.suo
*.opensdf